//
// Font Size
// -------------------------

// This file depends on font-family.scss and
// therefore must follow it in the compiler.

.fs-xxl  { font-size: 40px; }
.fs-xl   { font-size: 32px; }
.fs-l    { font-size: 22px; }
.fs-m    { font-size: 18px; }
.fs-s    { font-size: 16px; }
.fs-xs   { font-size: 14px; }
.fs-xxs  { font-size: 11px; }